/* =========================
   MODAL OVERLAY
========================= */


.modal-overlay{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,0.55);

display:flex;

justify-content:center;

align-items:center;

z-index:999;


}



/* =========================
   MODAL BOX
========================= */


.employee-modal{


width:750px;


background:white;


border-radius:18px;


box-shadow:0 10px 35px rgba(0,0,0,.3);


animation:popup .3s ease;


overflow:hidden;


}





@keyframes popup{


from{

transform:scale(.7);

opacity:0;

}


to{

transform:scale(1);

opacity:1;

}


}





/* =========================
   HEADER
========================= */


.modal-header{


background:#003b71;


color:white;


padding:18px 25px;


display:flex;


justify-content:space-between;


align-items:center;


}



.modal-header h2{


font-size:24px;


}




.modal-header button{


background:white;


color:#003b71;


border:none;


width:35px;


height:35px;


border-radius:50%;


font-size:18px;


cursor:pointer;


}




/* =========================
   FORM
========================= */


form{


padding:25px;


}



.form-grid{


display:grid;


grid-template-columns:repeat(2,1fr);


gap:20px;


}




.form-grid label{


display:block;


margin-bottom:7px;


font-weight:600;


color:#003b71;


}





.form-grid input,


.form-grid select{


width:100%;


padding:12px;


border:1px solid #ccc;


border-radius:8px;


font-size:15px;


outline:none;


}



.form-grid input:focus,


.form-grid select:focus{


border-color:#003b71;


box-shadow:0 0 5px rgba(0,59,113,.3);


}






/* =========================
 ERROR
========================= */


.error{


color:red;


text-align:center;


font-weight:bold;


margin-top:15px;


}





/* =========================
 BUTTONS
========================= */


.modal-buttons{


display:flex;


justify-content:center;


gap:20px;


margin-top:25px;


}





.save-btn{


background:#ffc107;


color:#003b71;


border:none;


padding:12px 35px;


border-radius:10px;


font-weight:bold;


font-size:16px;


cursor:pointer;


}





.save-btn:hover{


background:#ffb300;


}





.cancel-btn{


background:#dc3545;


color:white;


border:none;


padding:12px 35px;


border-radius:10px;


font-weight:bold;


font-size:16px;


cursor:pointer;


}





.cancel-btn:hover{


background:#b02a37;


}






/* =========================
 RESPONSIVE
========================= */



@media(max-width:800px){


.employee-modal{


width:95%;


}




.form-grid{


grid-template-columns:1fr;


}



}