.login-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#f7f7f7;

}



.login-box{


width:380px;

padding:30px;

background:white;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,0.2);


}



.login-box h2{

text-align:center;

color:#b88600;

}



.login-box p{

text-align:center;

}



.login-box label{

display:block;

margin-top:15px;

font-weight:bold;

}



.login-box input{


width:100%;

padding:12px;

margin-top:5px;

border:1px solid #ccc;

border-radius:8px;


}



.login-box button{


width:100%;

margin-top:25px;

padding:12px;

background:#d4a017;

color:white;

border:none;

border-radius:8px;

font-size:16px;

cursor:pointer;


}



.login-error{

color:red;

text-align:center;

}